* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

.container {
  max-width: 1626px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

@media (max-width: 600px) {
  .container {
    padding: 0px 10px;
  }
}